# Java noise
*.class
target/*
*/.settings/*
*/target/*
*/.gitignore

# SCM directories
.svn
.cvs

# OSX noise
.DS_Store
*.pbxuser
profile

# Package Files #
*.jar
*.war
*.ear

# Archive files
*.zip
*.rar
*.gz
*.tar.gz
*.7z

# Windows noise
desktop.ini

# Go-lang

# Eclipse/Flash Builder noise
.actionScriptProperties
.flexProperties
.project
.classpath
bin/*
bin-debug/*
report/*
bin-test/*
docs/*
.flexLibProperties

# Project specific
coverage.out
coverage.html
.vscode/
test/
